.chat-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-view .messages-view {
  overflow-y: scroll;
  border: 0.5px solid #EAEAEA;
  border-radius: 3px;
  height: 85%;
  max-height: 85%;
  margin: 10px 0;
  padding-top: 5px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
