.message-input-view {
  display: flex;
  justify-content: center;
}

.message-input-view .message-input {
  align-self: flex-end;
  font-size: 14px;
  padding: 12px;
  margin: 20px;
  border: 2px solid #EAEAEA;
  border-radius: 5px;
  flex-grow: 1;
  min-height: 48px;
  height: 48px;
  max-height: 200px;
}
