#room-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#room-list .rooms {
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  border: 0.5px solid #E6E6E6;
  border-radius: 3px;
  text-align: left;
  align-self: center;
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

#room-list .rooms li {
  font-size: 18px;
  border-bottom: 0.5px solid #E6E6E6;
}

#room-list .rooms li:last-child {
  border-bottom: none;
}

#room-list .rooms li a {
  display: block;
  padding: 13px 20px;
  color: #4A4A4A;
  text-decoration: none;
}

#room-list .rooms li a:visited {
  color: #4A4A4A;
}

#room-list .rooms li:hover {
  cursor: pointer;
  background-color: #92C1FF;
  border-color: #509CFF;
}

#room-list .rooms li:hover a {
  color: white;
  font-size: 17px;
  font-weight: bold;
}
