#user-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#user-list h4 {
  color: #bebebe;
  font-size: 16px;
  font-weight: 300;
  padding: 0 17px 10px 17px;
  padding-bottom: 10px;
}

#user-list .items {
  list-style: none;
}

#user-list .items li a {
  display: block;
  padding: 0 17px;
  color: #bebebe;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: none;
  line-height: 28px;
}

#user-list .items li a:visited {
  color: #bebebe;
}

#user-list .items li:hover {
  background-color: #235280;
}

#user-list .items li:hover a {
  cursor: pointer;
}

#user-list .items li.selected {
  background-color: #4094ED;
}

#user-list .items li.selected a {
  color: white;
}
