* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* letter-spacing: 0.5px; */
}

@media(max-width: 640px) {
  #container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
  }
}

@media(min-width: 541px) {
  body {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }

  #container {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    width: 540px;
    padding-bottom: 20px;
  }
}

#container * {
  font-weight: lighter;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#container #main h2 {
  padding: 18px;
}

#container #main .header-main {
  border-bottom: 1px solid lightgray;
}

.btn-default {
  font-size: 16px;
  font-weight: bold;
  padding: 14px;
  color: white;
  background-color: #92C1FF;
  border: 0.5pt solid #509CFF;
  border-radius: 3px;
}
